@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

header{
    display: flex;
    justify-content: center;
}

h1{
    margin: 40px;
    font-family: Roboto;
    color: #75B79E;
    font-size: 56px;
    text-align: center;
}

body{
    background-color: #eef9bf;
}

#table-cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    margin: auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

img{
    width: 100px;
}

.card {
    width: 117px;
    height: 146px;
    margin: 17px;
    position: relative;
    transition: all 1s;
  }

  .face {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .back{
    transform: rotateY(180deg);
  }

  .frontTurn {
    transform: rotateY(-180deg);
  }

  @media (max-width:460px) {
    main{
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;

    }
}

/*
      .back-face {
        transform: rotateY(180deg);
      }

      .card:hover .back-face {
        transform: rotateY(0deg);
      }

      .card:hover .front-face {
        transform: rotateY(-180deg);
      }
*/