@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

header{
    display: flex;
    justify-content: center;
}

h1{
    font-family: Roboto;
    color: #75B79E;
    font-size: 56px;
    text-align: center;
}

body{
    background-color: #eef9bf;
}

main{
    display: flex;
}

img{
    width: 100px;
}

.card {
    width: 117px;
    height: 146px;
    margin: 17px;
    position: relative;
  }

  .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
  }

  .card:hover .back-face {
    transform: rotateY(0deg);
  }

  .card:hover .front-face {
    transform: rotateY(-180deg);
  }
